@{
    ViewBag.Title = "About Vic Finney";
}
<h2>Hi I'm Vic, and this is my website!</h2>
<h3>I'm a professional web developer specializing in the .NET Microsoft suite of developing tools</h3>

<h4>Normally I might try to sell myself to prospective employers on this page.  But I have my contacts page with both my LinkedIn and Github accounts for that.  Instead I'm going to talk about my personal journey into computer programming</h4>

<p>It all started during the summer of 2011 when my brother </p>
