@{
    ViewBag.Title = "Contact Vic Finney";
    ViewBag.Message = "Junior .NET and SQL developer in the Indianapolis and Cincinnati Area";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <abbr title="Email">Personal Email:</abbr>
    finneyv09@gmail.com<br />
    <abbr title="Email">Work Email:</abbr>
    finneyv09@outlook.com<br />
    <abbr title="Phone">Mobile Phone:</abbr>
    513.502.1788
</address>

<address>
    <strong><a href="https://www.linkedin.com/in/victor-finney-8b4a3634">My LinkedIn</a></strong><br />
    <strong><a href="https://github.com/Finneyv">My Github page</a></strong>
</address>