@*@{
        ViewBag.Title = "";
    }*@

@*<!DOCTYPE HTML>
<!--
    Solid State by HTML5 UP
    html5up.net |
    Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
<body>*@

    <!-- Page Wrapper -->
    <div id="page-wrapper">
        <!-- Banner -->
        <section id="banner">
            <div class="inner">
                <h2>Vic Finney<br />
                Professional .NET developer</h2>
                <p>Hello, and welcome to my website!</p>
            </div>
        </section>

        <!-- Wrapper -->
        <section id="wrapper">

            <!-- One -->
            <section id="About" class="wrapper spotlight style1">
                <div class="inner">
                    <div class="image"><img src="~/images/VicFinney2016-5-6edit.jpg" alt="" /></div>
                    <div class="content">
                        <h2 class="major">About Me</h2>
                        <p>I am junior level software developer specializing in the Microsoft .NET developing stack.  I am a recent graduate of <a href="https://elevenfifty.org/">Eleven Fifty Academy's</a> .NET apprentice program.  However I have coding experience outside of Eleven Fifty as well, learning C++ and python at <a href="http://denison.edu/">Denison University</a> where I recieved my Bachelors of Science in May of 2013.</p>
                        <a href="~/Content/VictorCFinneyResume.pdf" class="special">Download my resume</a>
                    </div>
                </div>
            </section>

            <!-- Two -->
            <section id="Skills" class="wrapper alt spotlight style2">
                <div class="inner">
                    <a href="https://elevenfifty.org/" class="image"><img src="~/images/ElevenFiftylogo.png" alt="" /></a>
                    <div class="content">
                        <h2 class="major">Skilled .NET Developer</h2>
                        <p>While at Eleven Fifty I became skilled with many developing tools and practices.  These tools include, but are not limited to ASP.NET MVC in both C# and Visual Basic.NET, Xamarin Forms, Entity Framework and Code First Migrations, SQL and LINQ, JavaScript and, of course Visual Studio 2015.</p>
                        <a href="https://www.linkedin.com/in/victor-finney-8b4a3634" class="special">Checkout my linkedin profile</a>
                    </div>
                </div>
            </section>

            <!-- Three -->
            <section id="Experience" class="wrapper spotlight style3">
                <div class="inner">
                    <a href="http://schneidercorp.com/" class="image"><img src="~/images/SchneiderCorplogo2.png" alt="" /></a>
                    <div class="content">
                        <h2 class="major">My Experience</h2>
                        <p>At Eleven Fifty I worked on the SmartPath project which is a website made for a company coordinating self-driving lawnmowers.  The SmartPath project consisted of a customer facing Website, an Admin facing website, a Web API and a Web service.  While working on SmartPath I used ASP.NET MVC and Entity Framework in order to make changes to the deployed database and create the various Website pages.  After SmartPath I was assigned offsite to work <a href="http://schneidercorp.com/">Schneider Corp</a> where I worked on the IPS1 module for their <a href="https://beaconbeta.schneidercorp.com/">Beacon</a> network of websites.  The IPS1 module was written using Visual Basic .NET and required me custom SQL queries in order to access the Schneider Corp database.</p>
                        <a href="https://www.github.com/Finneyv" class="special">Checkout my GitHub page</a>
                    </div>
                </div>
            </section>

            <!-- Four -->
            @*<section id="Projects" class="wrapper alt style1">
                <div class="inner">
                    <h2 class="major">My Projects</h2>
                    <p>
                        Here are a few of the projects that I have worked on and have been a part of <br />
                        You can find a copy of my full portfolio <a href="#">here</a>
                    </p>
                    <section class="features">
                        <article>
                            <a href="#" class="image"><img src="~/images/pic04.jpg" alt="" /></a>
                            <h3 class="major">Sed feugiat lorem</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing vehicula id nulla dignissim dapibus ultrices.</p>
                            <a href="#" class="special">Learn more</a>
                        </article>
                        <article>
                            <a href="#" class="image"><img src="~/images/pic05.jpg" alt="" /></a>
                            <h3 class="major">Nisl placerat</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing vehicula id nulla dignissim dapibus ultrices.</p>
                            <a href="#" class="special">Learn more</a>
                        </article>
                        <article>
                            <a href="#" class="image"><img src="~/images/pic06.jpg" alt="" /></a>
                            <h3 class="major">Ante fermentum</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing vehicula id nulla dignissim dapibus ultrices.</p>
                            <a href="#" class="special">Learn more</a>
                        </article>
                        <article>
                            <a href="#" class="image"><img src="~/images/pic07.jpg" alt="" /></a>
                            <h3 class="major">Fusce consequat</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing vehicula id nulla dignissim dapibus ultrices.</p>
                            <a href="#" class="special">Learn more</a>
                        </article>
                    </section>
                    <ul class="actions">
                        <li><a href="#" class="button">Browse All</a></li>
                    </ul>
                </div>
            </section>*@

        </section>
    </div>

    <!-- Scripts -->
        <script src="~/Scripts/skel.min.js"></script>
        <script src="~/Scripts/jquery.min.js"></script>
        <script src="~/Scripts/jquery.scrollex.min.js"></script>
        <script src="~/Scripts/util.js"></script>
        <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
        <script src="~/Scripts/main.js"></script>

@*</body>
</html>*@

@*<div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>*@